<html>
<head>
	
</head>
<body class= "back">
	<div class="devise-edits">
	<%= image_tag("hello.jpg", class: "hello") %>
	<HR>
	<CENTER><h2> THIS IS FOODPOINT</h2></CENTER>
	<hr>
	<center><h4>A great platform for restaurant and customer bridging!!</h4></center>
	<%= image_tag("restro.jpg", class: "restro") %>
</div>
</body>