<div class = "card edits">
	<h2>Edit Post</h2>
	<hr>
	<%= simple_form_for @post do |f| %>
	  <strong><%= f.input :photo %></strong>
	  <strong><%= f.input :description %></strong>
	  <strong><%= f.submit 'Update', class: 'btn btn-primary btn-block' %></strong>
	<% end %>
</div>
	


