<div class="card edits">
		<h2>New Post</h2>
		<hr>
		<%= simple_form_for @post do |f| %>
		  <%= f.input :photo %>
		  <%= f.input :description ,class:'form-control'%>
		  <%= f.submit 'Post', class:'btn btn-block btn-primary' %>
		<% end %>
</div>