
body {
  background-color: #FAFAFA;
}

nav {
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 95px;
}
.nav_links {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

.nav_wrapper {
  line-height: 78px;
}